<div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="body text-center">
      <img src="assets/logoApp.png" alt="landing-page" class="img-fluid mb-2 logo">
      <div class="buttons d-flex flex-column flex-md-row gap-2">
        <button class="button" mat-stroked-button (click)="onButtonClick('login')">Se connecter</button>
        <button  class="button" mat-stroked-button (click)="onButtonClick('register')">S'inscrire</button>
      </div>
    </div>
</div>
  