@import '../../../../../assets/styles/variables';
.container {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

a{
    text-decoration: none;
    color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    
}

.add-post-button {
    border-radius: 8px;
    background-color: $primary-color;
    color: white;
}



.list{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 20px;
    margin-top:3% ;
    //padding: 4%;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.post-card{
    width: 100%;
    background-color:$background-color ;
    box-shadow: none;
    border-radius: 8px;
}



.mat-card-actions{
    display: flex;
    justify-content: center;
}

.mat-card-content{
    margin-left: 3%;
    margin-right: 3%;

}

.subtitle{
    display: flex;
    
}



.mat-card-subtitle{
    width: 120%;
    display: flex;
    justify-content: space-around;
    gap: 2%;


}


